body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background: rgb(97,75,162);
      background: linear-gradient(90deg, rgba(97,75,162,1) 
      14%, rgba(55,24,147,1) 29%,
       rgba(68,43,143,1) 45%, rgba(35,9,111,1) 56%,
        rgba(42,19,108,1) 64%, rgba(20,2,71,1) 75%, rgba(69,44,144,1) 100%, rgba(0,212,255,1) 100%);
  }
  
  #mensagem {
    display: none;
    position: fixed;
    /* Torna a seção fixa na tela */
    top: 50%;
    /* Posiciona a seção no centro verticalmente */
    left: 50%;
    /* Posiciona a seção no centro horizontalmente */
    transform: translate(-50%, -50%);
    /* Centraliza a seção */
    z-index: 9999;
    /* Define uma alta prioridade de sobreposição */
    background-color: 	#DCDCDC;
    padding: 20px;
    text-align: center;
    animation: fade-in 0.5s;
    border-radius: 20px;
    /* Adiciona uma animação de fade-in */
  }
  
  #mensagem p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .container {
    max-width: 400px;
    margin: 100px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    text-align: center;
  }
  
  .input-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    background-color: #836FFF;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button[type="submit"]:hover {
    background-color: #483D8B;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #483D8B;
  }
  
  a:hover {
    text-decoration: underline;
  }